#root {
  max-width: 100%;
  margin: 0 auto;
  background: #212529;
  min-height: 100vh;
}
:root {
  --light: white;
  --height-panigation: 6px;
  --width-panigation: 18px;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--light) !important;
  padding: 0 105px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 40px !important;
  font-weight: bolder;
  
}
.swiper-pagination-bullet {
  border-radius: 0 !important;
  width: var(--width-panigation) !important;
  height: var(--height-panigation) !important;
}

.swiper-pagination-bullet-active {
  background: var(--light) !important;
  border-radius: 0 !important;
  width: var(--width-panigation) !important;
  height: var(--height-panigation) !important;
}
