.homePage{
    background-color: #212529;
    height: auto;
}
.cate{
    background-color: #212529;
    border-radius: 15px;
    height: auto;
    width: 224px;
    position: relative;
    padding: 24px 0 32px;
    background: #32373d;
    box-shadow: 0 0 16px rgb(0 0 0 / 70%);
    border-radius: 6px;
    transition: all .3s ease;
}
.cate:hover {
    transform: translateY(-14px);
    border: none;
}